<header >
    <div class="tlogo"><p style="font-size: 100px;">LOGO</p> </div><!--头部LOGO-->
    <div class="nav">
        <div class="nav1 center">
            <ul>
                <li><a href="" target="_blank">首页</a></li>
                <li><a href="" target="_blank">项目组介绍</a></li>
                <li><a href="" target="_blank">项目案例/成果</a></li>
                <li><a href="" target="_blank">学术动态</a></li>
                <li><a href="" target="_blank">实验室介绍</a></li>
                <li><a href="" target="_blank">联系我们</a></li>
            </ul>
        </div>
    </div>
    <!-- 画廊-->
    <div>
        <a href="#top"><img src="img/1.png"/></a>
    </div>
</header>