<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="contentType" content="textml;charst=utf-8">
		<title>学术动态</title>
	</head>
	<link rel="stylesheet" href="css/indexStyle.css" />
	<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<body>
		<header>
			<div class="tlogo"><p style="font-size: 100px;">LOGO</p> </div><!--头部LOGO-->
			<div class="nav">
				<div class="nav1 center">
					<ul>
						<li><a href="/index" >首页</a></li>
						<li><a href="/list?type=项目组介绍" >项目组介绍</a></li>
						<li><a href="/list?type=项目案例/成果" >项目案例/成果</a></li>
						<li><a href="/list?type=学术动态" >学术动态</a></li>
						<li><a href="/list?type=实验室介绍" >实验室介绍</a></li>
						<li><a href="/list?type=联系我们" >联系我们</a></li>
				</ul>
				</div>
			</div>
			<div>
				<a href="#top"><img src="img/1.png"/></a>
			</div>
		</header>
		
		<!--正文-->
		<div class="ctn center">
			<div class="right">
				<div class="new" id="newDiv">

					

				</div>
			</div>
			
		</div>
		<footer>页脚</footer>
	</body>


<script>
	$(function () {

		//获取url参数   decodeURI  解析中文参数问题

		var parameterURL =decodeURI(location.search.substring(1, location.search.length));

		// alert(parameterURL);s
		if(parameterURL != null && parameterURL.length > 0){
			//获取文章类型
			var type = parameterURL.substring(5,parameterURL.length);
			getList(type);
		}

	})

	function getList(type) {
		$.ajax({
			url: "/article/listByType",
			type: "GET",
			data:{type:type},
			success: function (result) {
				console.log(result);
				$("#newDiv").empty();
				if (result.code == 200) {
					//数据回显
					var contents = result.data;
						// <a href="" title="内容************">
				// 			<div>内容*******************************************************</div>
				// 			<span>时间</span>
				// 			</a>
					$.each(contents,function (index,item) {
						var a = document.createElement('a');
						a.href="/index_article?id="+item.id;

						var div = document.createElement('div');
						div.append(item.title);

						var span = document.createElement('span');
						span.innerText = item.time;

						a.appendChild(div);
						a.appendChild(span);

						$("#newDiv").append(a);
					})
				}
			}
		})
	}

</script>


</html>
