<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <table class="table table-striped" >
            <thead>
            <tr>
                <th>id</th>
                <th>标题</th>
                <th>发布时间</th>
                <th>转载连接</th>
                <th>作者</th>
                <th>文章类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <th>a</th>
                <th>2019-11-12 16:34:43</th>
                <th></th>
                <th>a</th>
                <th>文章</th>
                <th>
                    <button>修改</button>
                    <button>删除</button>
                </th>
            </tr>
            <tr>
                <th>2</th>
                <th>b</th>
                <th>2019-11-12 16:34:43</th>
                <th>www.baidu.com</th>
                <th>a</th>
                <th>文章</th>
            </tr>
            <tr>
                <th>3</th>
                <th>c</th>
                <th>2019-11-12 16:34:43</th>
                <th></th>
                <th>a</th>
                <th>文章</th>
            </tr>
            <tr>
                <th>4</th>
                <th>d</th>
                <th>2019-11-12 16:34:43</th>
                <th></th>
                <th>a</th>
                <th>文章</th>
            </tr>
            </tbody>
        </table>
    </div>



    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>





</body>
</html>