<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>

<body>
<div class="container">

    <div th:replace="commons/bar::head"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="commons/bar::#sidebar"></div>

            <main>

                <table>
                    <thead></thead>


                    <tbody></tbody>


                </table>



            </main>

        </div>
    </div>

    <div th:replace="commons/bar::tail"></div>

</div>
</body>


<script>

</script>


</html>